AIRFLOW_UID=1000
AIRFLOW_PROJ_DIR=./airflow
_AIRFLOW_WWW_USER_USERNAME=thanhdn
_AIRFLOW_WWW_USER_PASSWORD=thanhdn
AIRFLOW_IMAGE_NAME=nghia294/ariflow-pro:v1.0
POSTGRES_LOCAL_PATH=packages/postgresql.jar
ELASTIC_PASSWORD=thanhdn
